*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
video {
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}
.caixaderegistro {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0.);
}
.registro{
    font-size: 28px;
    text-align: center;
}
.ibox2{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.ibox2 input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}
.ibox2 input::placeholder{
    color: #fff;    
}
.ibox2 i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.lembrar{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.lembrar label input {
    accent-color: #fff;
    margin-right: 3px;
}
.lembrar a {
    color: #fff;
    text-decoration: none;
}
.lembrar a:hover {
    text-decoration: underline;
}
.criarconta {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
.login-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}
.login-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.login-link p a:hover {
    text-decoration: underline;
}