{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, 
initial-scale=1.0"
    />
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/style_login.css' %}" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    
    <div class="caixadelogin">
      <div class="login">
        <h1>Login</h1>
      </div>
      <div class="ibox">
        <input type="text" placeholder="Usuário" required />
        <i class="bx bxs-user"></i>
      </div>
      <div class="ibox">
        <input type="password" placeholder="Chave de Acesso" required />
        <i class="bx bxs-lock-alt"></i>
      </div>
      <button type="submit" class="botao">Login</button>
    </div>
  </body>
</html>
