{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Politica e Segurança</title>
    <link rel="stylesheet" href="{% static 'css/style_politica.css'%}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <header>
        <img src="{% static 'images/logo.png' %}"></img>

        <a href="#"> <span class="icon"><i class="bi bi-bell"></i></span></a>

        <a href="#"> <span class="icon"><i class="bi bi-gear"></i></span></a>

        <a href="#"><span class="icon"><i class="bi bi-printer"></i></span></a>
    </header>

    <!--Código do menu lateral-->
    
    <nav class="menu-lateral">
 
        <ul>
            <li class="OlaUsuario">
                <h1>
                    Ola program of boysetas!
                </h1>
            </li>
            <li class="Not">
                <p>
                  Você tem 2 notificações hoje  
                </p>
            </li>
            <li class="LinhasM">
                <div></div>
            </li>
            <li class="item-menu">
                <a href="{% url 'relatorios' %}">
                    <span class="icon"><i class="bi bi-table"></i></span>
                    <span class="txt-link">Relatórios</span>
                </a>
            </li>
            <li class="LinhasM">
                <div></div>
            </li>
            <li class="item-menu">
                <a href="{% url 'estatisticas' %}">
                    <span class="icon"><i class="bi bi-bar-chart-line"></i></span>
                    <span class="txt-link">Estatisticas</span>
                </a>
            </li>
            <li class="LinhasM">
                <div></div>
            </li>
            <li class="item-menu">
                <a href="{% url 'produtos' %}">
                    <span class="icon"><i class="bi bi-plus-square"></i></span>
                    <span class="txt-link">Produtos</span>
                </a>
            </li>
            <li class="LinhasM">
                <div></div>
            </li>
            <li class="item-menu">
                <a href="{% url 'estabelecer_acao' %}">
                    <span class="icon"><i class="bi bi-check-circle"></i></span>
                    <span class="txt-link">Estabelecer ação</span>
                </a>
            </li>
            <li class="LinhasM">
                <div></div>
            </li>
            <li class="item-menu">
                <a href="{% url 'funcionarios' %}">
                    <span class="icon"><i class="bi bi-person-fill"></i></span>
                    <span class="txt-link">Funcionários</span>
                </a>
            </li>
            <li class="LinhasM">
                <div></div>
            </li>
            <li class="item-menu">
                <a href="{% url 'dashboard' %}">
                    <span class="icon"><i class="bi bi-columns-gap"></i></span>
                    <span class="txt-link">Dashboard</span>
                </a>
                
            </li>
            <li class="LinhasM">
                <div></div>
            </li>
            <li class="item-menu">
                <a href="{% url 'historico' %}">
                    <span class="icon"><i class="bi bi-journal-text"></i></span>
                    <span class="txt-link">Histórico de consulta</span>
                </a>
            </li>
            <li class="LinhasM">
                <div></div>
            </li>
            <li class="item-menu">
                <a href="{% url 'politica' %}">
                    <span class="icon"><i class="bi bi-shield-check"></i></span>
                    <span class="txt-link">Politica e segurança</span>
                </a>
            </li>
            <li class="LinhasM">
                <div></div>
            </li>
            <li class="Edireitos">
                <p>©Estoque facil / Todos os direitos reservados </p>
            </li>
        </ul>
        

    </nav>
    <div class="DashboardT">
        <b>Política e Segurança</b>
    </div>
    <div class="Politica">
        
        <br>No Estoque Fácil, levamos a sua privacidade e segurança a sério. Esta Política de Privacidade e Segurança descreve como coletamos, utilizamos, protegemos e compartilhamos suas informações pessoais quando você usa nosso aplicativo. Ao utilizar o Estoque Fácil, você concorda com os termos e condições estabelecidos nesta política.</br>
      <br>  <b>1. Coleta de Informações </b>
Nós coletamos informações de diferentes formas, conforme descrito abaixo:
Informações fornecidas diretamente por você: Ao criar uma conta, preencher formulários ou interagir com o aplicativo, podemos coletar informações como nome, endereço de e-mail, número de telefone e outros dados pessoais.
Informações coletadas automaticamente: Quando você usa o aplicativo, podemos coletar informações automaticamente, como dados de uso, localização geográfica (com o seu consentimento), dados de dispositivos e logins, bem como outras interações dentro da plataforma.
</br>
<br><b> 2. Uso das Informações</b>
As informações que coletamos são utilizadas para os seguintes fins:
Melhoria da experiência do usuário: Usamos seus dados para personalizar sua experiência, melhorar funcionalidades e otimizar o desempenho do aplicativo.
Comunicação: Para enviar atualizações sobre novos recursos, notificações de segurança, promoções ou outras comunicações relacionadas ao serviço.
Segurança e prevenção de fraudes: Para garantir a segurança da plataforma, detectar atividades fraudulentas ou ilegais e proteger você e outros usuários.
</br>
<br><b>3. Armazenamento de Dados</b>
Os dados coletados são armazenados de maneira segura em nossos servidores, que são protegidos por medidas de segurança adequadas, incluindo criptografia e controle de acesso. Para garantir a segurança dos seus dados, adotamos práticas de segurança rigorosas, como autenticação multifatorial e monitoramento contínuo de sistemas.
</br>
<br> <b>4. Compartilhamento de Informações</b>
Não vendemos, alugamos ou compartilhamos suas informações pessoais com terceiros, exceto nas seguintes situações:
Com prestadores de serviços: Podemos compartilhar suas informações com parceiros e fornecedores que nos ajudam a operar o aplicativo, como serviços de hospedagem de dados ou sistemas de pagamento.
Exigências legais: Podemos divulgar suas informações quando exigido por lei ou para proteger nossos direitos ou a segurança de nossos usuários.
</br>
<br><b>5. Seus Direitos</b>
Você tem os seguintes direitos sobre seus dados pessoais:
Acesso: Você pode acessar as informações que coletamos sobre você.
Correção: Se seus dados estiverem incorretos ou desatualizados, você pode atualizá-los diretamente no aplicativo ou solicitar nossa assistência.
Exclusão: Você pode solicitar a exclusão de sua conta a qualquer momento, de acordo com as limitações legais.
</br>

<br><b>6. Segurança de Dados</b>
Levamos a segurança de seus dados a sério e implementamos diversas medidas para protegê-los, como:
Criptografia de dados: Todas as informações sensíveis, como dados de pagamento, são transmitidas de forma criptografada.
Autenticação forte: Para acesso à conta, utilizamos autenticação multifatorial, que adiciona uma camada extra de segurança.
Monitoramento contínuo: Realizamos auditorias regulares e monitoramos o sistema para identificar qualquer atividade suspeita.
de nossos esforços para proteger seus dados, nenhuma transmissão de dados pela internet é 100% segura. Não podemos garantir a segurança absoluta, mas tomamos todas as medidas razoáveis para protegê-lo.
</br>


<br><b>7. Alterações nesta Política</b>
Podemos atualizar esta Política de Privacidade e Segurança periodicamente. Quando houver mudanças significativas, informaremos você por meio do aplicativo ou por e-mail. A versão mais recente estará sempre disponível no aplicativo.
</br>
<br><b>8. Contato</b>
Se você tiver dúvidas ou preocupações sobre nossa Política de Privacidade e Segurança ou sobre o tratamento dos seus dados pessoais, entre em contato conosco através do e-mail: Suporteestoquefacil@gmail.com
</br>
    </div>
    
</body>
</html>