*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: black;
    background-image: url('../images/Armação\ de\ Armazém\ Minimalista.png');
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logoEstoque {
    margin-bottom: 30px;
}

.login {
    text-align: center;
}

.caixadelogin {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(0, 0, 255, 2);
    color: #000fda;
    border-radius: 10px;
    padding: 30px 40px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0.);
}
.logoEstoque {
    justify-self: center;
}

.ibox{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.ibox input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 2);
    border-radius: 40px;
    font-size: 16px;
    color: #000fda;
    padding: 20px 45px 20px 20px;
}
.ibox input::placeholder{
    color: #000000;    
}
.ibox i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.lembrar-esquecer{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.lembrar-esquecer label input {
    accent-color: #fff;
    margin-right: 3px;
}
.lembrar-esquecer a {
    color: #fff;
    text-decoration: none;
}
.lembrar-esquecer a:hover {
    text-decoration: underline;
}
.botao {
    width: 100%;
    height: 45px;
    background: #0602fa;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
}
.registro-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}
.registro-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.registro-link p a:hover {
    text-decoration: underline;
}

.loginMessage {
    display: none;
    color: red;
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin-bottom: 30px ;
}