@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --body-light: #F1F0FF; /* Fundo do tema claro */
    --text-light: #000000; /* Texto do tema claro */
    --header-light: #ffffff; /* Header do tema claro */
    --hover-light: #0E00AE; /* Interagiveis do tema claro */
    --lines-light: #000000; /* Linhas do tema claro */
  }
  
  [data-theme="dark"] {
    --body-dark: #2F2E2E; /* Fundo do tema escuro */
    --text-dark: #ffffff; /* Texto do tema escuro */
    --header-dark: #232323; /* Header do tema escuro*/
    --hover-dark: #FFA600; /* Interagiveis do tema escuro */
    --lines-dark: #000000; /* Linhas do tema escuro */
    --button-dark: #FFDFA4; /* Butão do tema escuro */
  }

  [data-theme="dark"] body {
    background-color: var(--body-dark);
    color: var(--text-dark);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  [data-theme="dark"] header {
    background-color: var(--header-dark);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  [data-theme="dark"] nav.menu-lateral {
    background-color: var(--header-dark);
    box-shadow: 2px 0 0 var(--lines-dark);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  [data-theme="dark"] ul li.item-menu {
    color: var(--text-dark);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  [data-theme="dark"] ul li.item-menu a {
    color: var(--text-dark);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  [data-theme="dark"] ul li.item-menu:hover {
    background-color: var(--hover-dark);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  [data-theme="dark"] ul li.item-menu a:hover {
    color: var(--header-dark);
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  [data-theme="dark"] .btnProduto:hover {
    background-color: var(--hover-dark);
    transition: background-color 0.3s ease, color 0.3s ease;
}

[data-theme="dark"] .btnProduto.clicked {
    background-color: #FFA600; 
}

    [data-theme="dark"] .ProdutosT{
    color: var(--hover-dark);
    transition: background-color 0.3s ease, color 0.3s ease;
}

  [data-theme="dark"] .btnProduto {
    background-color: var(--button-dark);
    box-shadow: 0px 6px 3px var(--header-dark);
    transition: background-color 0.3s ease, color 0.3s ease;
}

    [data-theme="dark"] .infoProdutosContainer{
    color: var(--text-dark);
    background-color: var(--header-dark);
    transition: background-color 0.3s ease, color 0.3s ease;
}

    [data-theme="dark"] .addProdutoContainer {
        background-color: var(--header-dark);
    }

    [data-theme="dark"] .btnBase {
        background-color: var(--button-dark);
        box-shadow: 0px 6px 3px var(--body-dark);
    }

    [data-theme="dark"] .btnBase:hover {
        background-color: var(--hover-dark);
    }


    [data-theme="dark"] .bi-bell {
        color: var(--text-dark);
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    [data-theme="dark"] .bi-gear {
        color: var(--text-dark);
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    [data-theme="dark"] .bi-printer {
        color: var(--text-dark);
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    [data-theme="dark"] #configContainer {
        background-color: var(--header-dark);
        border: solid 2px var(--header-light);
        transition: background-color 0.3s ease, color 0.3s ease;
    }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#damageControl{
    position: fixed;
    overflow-y: auto;
    width: 100%;
    height: 60px;
    top: 0px
}

#configContainer {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150vh;
    height: 70vh;
    background: var(--header-light);
    border-radius: 10px;
    border: solid 2px var(--header-dark);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}



#toggleTheme {
    width: 50px;
    height: 50px;
    align-items: center;
}

header{
    background-color: #ffffff;
    width: 100%;
    height: 60px;
    box-shadow: 0 2px 0;
    transition: background-color 0.3s ease, color 0.3s ease;
}
body {
    background-color: #F1F0FF;
    height: 100vh;
    overflow-y: auto;
    margin-top: 90px;
    margin-bottom: 120px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* menu lateral  */

nav.menu-lateral{
    width: 300px;
    height: 100%;
    background-color: #ffffff;
    padding: 3px;
    box-shadow: 2px 0 0 #000000;
    position:fixed;
    left:0;
    overflow-y: auto;
    font-family: "Poppins", sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
}

ul{
    height: 100%;
    list-style-type: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

ul li.item-menu{
    transition: .3s;
    animation: none;
    width: 265px;
    margin-left: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

ul li.item-menu a{
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    padding: 20px 4%;
    display: flex; 
    transition: background-color 0.3s ease, color 0.3s ease;  
}

ul li.item-menu:hover{
    background:#0E00AE ;
    transition: background-color 0.3s ease, color 0.3s ease;
}

ul li.item-menu a:hover{
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    padding: 20px 4%;
    display: flex;
    transition: background-color 0.3s ease, color 0.3s ease;
}

ul li.item-menu a .txt-link{
    margin-left:10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

ul li.LinhasM {
    height: 1px;
    background-color: #000000;
    width: 265px;
    margin-left: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.OlaUsuario{
    margin-top: 10px;
    justify-content: center;
    margin-left: 7px;
    font-family: sans-serif;
    margin-bottom: 3px;
}

.Not{
    margin-left: 7px;  
    margin-top: 8px;
    margin-bottom: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.Edireitos {
    margin-top: 260px;
    opacity: 40%;
}
/* header  */

.Logo_Estoque_Facil {
    width:135px;
    height: 44px;
    margin-left: 8px;
    margin-top: 8px;
}

.headerBtn {
    background-color: #ff0000;

}

.headerBtn:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgb(248, 248, 248);
    top: 10px;            
    right: 10px;     
}

.bi-bell {
        position: absolute; 
        top: 10px;            
        right: 10px;           
        font-size: 32px;
        color: #000000;   
        transition: background-color 0.3s ease, color 0.3s ease;
}

.bi-gear {
    position: absolute; 
    top: 10px;            
    right: 58px;           
    font-size:32px;
    color: #000000;
    transition: background-color 0.3s ease, color 0.3s ease;
    padding: 0;
}     

.bi-printer {
    position: absolute; 
    top: 10px;            
    right: 108px;           
    font-size: 32px;
    color: #000000;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.bi-search {
    font-size: 20px;
    margin-right: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.bi-plus {
    font-size: 35px;
    margin-top: -10px;
    margin-bottom: -10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.ProdutosT{
    justify-content: left;
    align-items: left;
    display: block;
    height: 100px;
    text-align: left;
    font-family: Arial;
    font-size: 38px;
    margin-left: 350px;
    margin-top: 40px;
    color: #0E00AE;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.produtosContainer{
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 10px;
    height: 80px;
    margin-left: 350px;
    margin-top: 0px;
    width: 71%;
    flex-direction: row;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btnProduto{
    display: flex;
    gap: 5px;
    padding: 20px 30px;
    border-radius: 15px;
    border: none;
    background-color: #e1deff;
    box-shadow: 0px 6px 3px #bab9c5;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btnProduto:hover{
    background-color: #90a8ff ;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* muda o display para flex depois de terminar, NAO ESQUECE */

.infoProdutosContainer{
    align-items: center;
    display: flex;
    padding: 10px;
    height: 500px;
    margin-left: 24%;
    margin-top: 40px;
    width: 75%;
    flex-direction: row;
    background-color: white;
    border-radius: 20px;
    justify-content: center;
    font-weight: bolder;
    font-size: 10vh;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.addAcaoContainer{
    font-family: "Poppins", sans-serif;
    align-items: center;
    display: flex;
    padding: 30px;
    padding-bottom: 50px;
    height: auto;
    margin-left: 24%;
    margin-top: 40px;
    width: 75%;
    flex-direction: row;
    background-color: white;
    border-radius: 20px;
    justify-content: center;
    font-weight: bolder;
    font-size: 20px;
    flex-wrap: wrap;
    gap: 10px;
}

/* muda o para o display para none depois de terminar, NAO ESQUECE */

#addDivProdutos {
    display: none;
    font-size: 20px ;
    gap: 15px;
    justify-content: center;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#searchDivProdutos {
    display: none;
    font-size: 20px ;
    gap: 15px;
    justify-content: center;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
}


.inputGroup {
    display: flex;
    font-size: 20px ;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    
}

.inputGroup2 {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    overflow: hidden;
    flex-direction: column;
    margin-bottom: -10px;
    margin: 10px;
}

.inputGroup2 label {
    flex: 1;
    margin: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: center;
}

.inputGroup2 input {
    width: 35vh;
    height:7vh;
    padding: 5px;
    border: none;
    background-color: #F1F0FF ;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;

}

.displayGroup2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: calc(20% - 15px); 
}

.displayBtns {
    width: 100%;
    height: 7vh;
    padding: 5px;
    border: none;
    background-color: #F1F0FF;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
}

#addButton{
    margin-top: 40px;
    width: 200px;
    justify-content: center;
    font-size: 18px;
}

#searchButton{
    margin-top: 40px;
    width: 200px;
    justify-content: center;
    font-size: 18px;
}

.btnProduto.clicked {
    background-color: #FFA600;
}

.infoEditTools{
    display: flex;
    flex-direction: row;
    margin-right: 180vh;
    gap: 5px;
}

#editAcao {
    border-radius: 100px;
    font-weight: bolder;
    font-size: 30px;
    padding: 5px;
    padding-right: 13px;
    padding-left: 13px;
}

#delAcao {
    border-radius: 100px;
    font-weight: bolder;
    font-size: 30px;
    padding: 5px;
    padding-right: 13px;
    padding-left: 13px;
}

.btnBase{
    display: flex;
    gap: 5px;
    padding: 20px 30px;
    border-radius: 15px;
    border: none;
    background-color: #e1deff;
    box-shadow: 0px 6px 3px #bab9c5;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
    transition: 0.3s ease;
}

.btnBase:hover{
    background-color: #90a8ff ;
}

.addProdutoContainer{
    font-family: "Poppins", sans-serif;
    align-items: center;
    display: flex;
    padding: 30px;
    padding-bottom: 50px;
    height: auto;
    margin-left: 24%;
    margin-top: 40px;
    width: 75%;
    flex-direction: row;
    background-color: white;
    border-radius: 20px;
    justify-content: center;
    font-weight: bolder;
    font-size: 20px;
    flex-wrap: wrap;
    gap: 10px;
}


#infoProdutoContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#defaultProdutosList {
    background-color: #0E00AE;
    border: solid 1px #0E00AE;
    z-index: 1000;
}