*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: #ffffff;
    width: 100%;
    height: 60px;
    box-shadow: 0 2px 0
}
body {
    background-color: #F1F0FF;
    height: 100vh;
}

.DashboardT {
    color: #0E00AE;
    font-family: sans-serif;
}

/* menu lateral  */

nav.menu-lateral{
    width: 300px;
    height: 100%;
    background-color: #ffffff;
    padding: 3px;
    box-shadow: 2px 0 0 #000000;
    position:fixed;
    left:0;
}

ul{
    height: 100%;
    list-style-type: none;
}
ul li.item-menu{
    transition: .3s;
    animation: none;
    width: 265px;
    margin-left: 10px;
}
ul li.item-menu a{
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    padding: 20px 4%;
    display: flex;    
}
ul li.item-menu:hover{
    background:#0E00AE ;
}
ul li.item-menu a:hover{
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    padding: 20px 4%;
    display: flex;
}
ul li.item-menu a .txt-link{
    margin-left:10px;
}
ul li.LinhasM {
    height: 1px;
    background-color: #000000;
    width: 265px;
    margin-left: 10px;
}
.OlaUsuario{
    margin-top: 10px;
    justify-content: center;
    margin-left: 7px;
    font-family: sans-serif;
    margin-bottom: 3px;
}
.Not{
    margin-left: 7px;  
    margin-top: 8px;
    margin-bottom: 8px;
}
.Edireitos {
    margin-top: 260px;
    opacity: 40%;
}
/* header  */
.bi-bell {
        position: absolute; 
        top: 10px;            
        right: 10px;           
        font-size: 32px;
        color: #000000;   
      }
.bi-gear {
    position: absolute; 
    top: 10px;            
    right: 58px;           
    font-size:32px;
    color: #000000
}     
.bi-printer {
    position: absolute; 
    top: 10px;            
    right: 108px;           
    font-size: 32px;
    color: #000000;
}
img {
    width:135px;
    height: 44px;
    margin-left: 8px;
    margin-top: 8px;
}
.DashboardT{
    justify-content: left;
    align-items: left;
    display: block;
    height: 100px;
    text-align: left;
    font-family: Arial;
    font-size: 38px;
    margin-left: 350px;
    margin-top: 40px;
}
.FuncionariosT {
    justify-content: left;
    align-items: left;
    display: block;
    height: 100px;
    text-align: left;
    font-family: Arial;
    font-size: 38px;
    margin-left: 350px;
    margin-top: 40px; 
}

.Politica  {
    margin-left: 350px;
    align-content: left;
    justify-content: left;
    background-color:white;
    border-radius: 10px;
    margin-right: 40px;
    padding: 15px;
    text-align: left;
    font-size: 18px;
    padding-top: 1px;
}