*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: #ffffff;
    width: 100%;
    height: 60px;
    box-shadow: 0 2px 0
}
body {
    background-color: #F1F0FF;
    height: 100vh;
}

.DashboardT {
    color: #0E00AE;
    font-family: sans-serif;
}

/* menu lateral  */

nav.menu-lateral{
    width: 300px;
    height: 100%;
    background-color: #ffffff;
    padding: 3px;
    box-shadow: 2px 0 0 #000000;
    position:fixed;
    left:0;
}

ul{
    height: 100%;
    list-style-type: none;
}
ul li.item-menu{
    transition: .3s;
    animation: none;
    width: 265px;
    margin-left: 10px;
}
ul li.item-menu a{
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    padding: 20px 4%;
    display: flex;    
}
ul li.item-menu:hover{
    background:#0E00AE ;
}
ul li.item-menu a:hover{
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    padding: 20px 4%;
    display: flex;
}
ul li.item-menu a .txt-link{
    margin-left:10px;
}
ul li.LinhasM {
    height: 1px;
    background-color: #000000;
    width: 265px;
    margin-left: 10px;
}
.OlaUsuario{
    margin-top: 10px;
    justify-content: center;
    margin-left: 7px;
    font-family: sans-serif;
    margin-bottom: 3px;
}
.Not{
    margin-left: 7px;  
    margin-top: 8px;
    margin-bottom: 8px;
}
.Edireitos {
    margin-top: 260px;
    opacity: 40%;
}
/* header  */
.bi-bell {
        position: absolute; 
        top: 10px;            
        right: 10px;           
        font-size: 32px;
        color: #000000;   
      }
.bi-gear {
    position: absolute; 
    top: 10px;            
    right: 58px;           
    font-size:32px;
    color: #000000
}     
.bi-printer {
    position: absolute; 
    top: 10px;            
    right: 108px;           
    font-size: 32px;
    color: #000000;
}
img {
    width:135px;
    height: 44px;
    margin-left: 8px;
    margin-top: 8px;
}
.DashboardT{
    justify-content: left;
    align-items: left;
    display: block;
    height: 100px;
    text-align: left;
    font-family: Arial;
    font-size: 38px;
    margin-left: 350px;
    margin-top: 40px;
    margin-bottom: 20px;
}
.FuncionariosT {
    justify-content: left;
    align-items: left;
    display: block;
    height: 100px;
    text-align: left;
    font-family: Arial;
    font-size: 38px;
    margin-left: 350px;
    margin-top: 40px; 
}
.containerBlocoDash {
    justify-content: center;
    align-items: center;
    margin-right: 110px;
    display: flex; /* Usar flexbox para alinhar os retângulos lado a lado */
    gap: 30px; /* Espaçamento entre os retângulos */
}

.Vermelho {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Posiciona mais acima */
    margin-top: 200px; /* Ajusta espaço acima */
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    margin-left: 350px;
}

.Cinza {   
    border-radius: 10px;
    background-color: rgb(126, 126, 121); /* Cor de fundo amarelo */
    display: flex; /* Ativar flexbox */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    text-align: center; /* Garante que o texto fique bem alinhado */
    font-size: 20px; /* Tamanho do texto */
    line-height: 200px;
}

.Verde {  
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Posiciona mais acima */
    margin-top: 200px; /* Ajusta espaço acima */
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    margin-left: 350px;
}
.containerBlocoDash :hover{
    background: #0E00AE;
}

.R {
    width: 500px;
    height: 120px;
}

.containerBlocoDash p {
    font-family: sans-serif;
    color: #ffffff;
    display: flex;
    padding-left: 10px;
    padding-top: 8px;
    font-size: large;
}

.containerBlocoDash h1 {
    font-family: sans-serif;
    color: #ffffff;
    display: flex;
    padding-right: 20px;
    padding-top: 40px;
    justify-content: right;
}

.chart-container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Posiciona mais acima */
    margin-top: 200px; /* Ajusta espaço acima */
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    margin-left: 350px;
}
.chart-size {
    width: 600px; /* Defina a largura que deseja */
    height: 300px; /* Defina a altura que deseja */
}
.chart-container canvas {
    display: block;
    width: 100%; /* Largura total do contêiner */
    height: auto; /* Proporção correta */
}
.line-chart {
    width: 100%;
    height: 400px;
}
.line-chart2 {
    width: 100%;
    height: 400px;
}
.chart-container2 {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Posiciona mais acima */
    margin-top: 300px; /* Ajusta espaço acima */
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    margin-left: 1200px;
}
.chart-size2 {
    width: 600px; /* Defina a largura que deseja */
    height: 300px; /* Defina a altura que deseja */
}